* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;
}

body {
    background-image: linear-gradient(#00368D, #bb1a4a);
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1em;
}

#main {
    background-image: linear-gradient(to right, white, #F1E7CD);
    width: 90%;
    margin: 2rem auto;
    border-radius: 30px;
    padding: 2rem;
}

img {
    max-width: 80%;
}

img[alt$="-small"] {
    max-width: 30%;
}

h1 {
    font-family: 'Shojumaru', cursive;
    text-align: center;
    font-size: xx-large;
}

h2 {
    font-family: 'Permanent Marker', cursive;
}

p {
    font-family: 'Enriqueta', serif;
}

a {
    color: chocolate;
}

p > code {
    background-color: black;
    color: yellowgreen;
    padding: 3px;
    border-radius: 3px;
    font-size: 12px;
}

pre {
    background-color: black;
    color: greenyellow;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Source Code Pro', monospace;
    white-space: pre-wrap;
}
