body {
    background-color: #17015e;
    margin: 2em;
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 300%;
    color: white;
} 

.main {
    height: 100vh;
}