<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, use-scalable=yes">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Enriqueta|Permanent+Marker|Source+Code+Pro|Shojumaru"> 
    <link rel="stylesheet" type="text/css" href="/guide.css">
</head>

<body>
    <section id="main">
        {{ content }}
    </section>
</body>

</html>